h1{
    color: red;
}

h2{
    color: blue;
}

div{
    font-size: 50px;
    font-weight: bold;
    background-color: red;
}

h4{
    font-weight: bold;
}

.souligne{
    text-decoration-line: underline;
}

li{
    font-style: italic;
}